@import "../../global.scss";

.skills {
  height: auto !important;
  margin-bottom: 20px;

  .container {
    h2 {
      text-align: center;

      @include mobile {
        font-size: 20px;
      }
    }

    .skill-list {
      > * {
        width: 400px;
        margin-top: 20px;
        margin-left: 10px;

        @include md {
          width: 400px !important;
        }

        @include mobile {
          h5 {
            font-size: 14px;
          }
        }

        @include sm {
          width: 250px;
        }
      }
    }
  }
}
